
.imgFluid {
  width: 200%;
  height: auto;
}

.mainSection {
  padding-left: 80px;
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .imgFluid {
    width: 165%;
    height: auto;
  }
}

/* Styles for mobile devices */
@media (max-width: 767px) {
  .imgFluid {
    padding-left: 10px;
    padding-top: 95px;
    width: 90%;
    height: auto;
  }
}

.imgSecondFluid {
  width: 150%;
  height: auto;
}

@media (max-width: 767px) {
  .imgSecondFluid {
    width: 110%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .imgSecondFluid {
    width: 180%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .imgSecondFluid {
    width: 180%;
  }
}

.homeImg {
  padding-left: 30px;
  padding-right: 150px;
  padding-top: 80px;
}
@media (max-width: 767px) {
  .homeImg {
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 60px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .homeImg {
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 78px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .homeImg {
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 75px;
  }
}

.homeHeader {
  padding-top: 80px;
  padding-left: 50px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .homeHeader {
    padding-top: 75px;
    padding-left: 78px;
  }
}
@media (max-width: 767px) {
  .homeHeader {
    padding-top: 55px;
    padding-left: 38px;
  }
}

.homeSection {
  /* z-index: -1; */
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 200px;
}

@media (max-width: 767px) {
  .homeSection {
    padding-right: 30px;
  }
}

.homeContent {
  padding: 9rem 0 2rem;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: 2.4em;
  padding-left: 0px;
}

.headingName {
  font-size: 2.5em;
  padding-left: 0px;
}

.mainName {
  color: var(--main-color);
}

.myAvatar {
  justify-content: center;
  padding-top: 8em;
}

@media (max-width: 767px) {
  .myAvatar {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.homeAboutSection {
  position: relative;
  padding-bottom: 70px;
  padding-top: 70px;
  padding-left: 46px;
  padding-right: 200px;
}

@media (max-width: 767px) {
  .homeAboutSection {
    padding-left: 35px;
    padding-right: 50px;
  }
}

.homeAboutDescription {
  color: black;
  padding-left: 0;
  padding-top: 130px;
  padding-bottom: 20px;
  text-align: center;
}

.homeAboutHeading {
  font-size: 2.5em;
  text-align: left;
}

.homeAboutBody {
  padding-left: 0px;
  padding-right: 100px;
  padding-top: 50px;
  font-size: 1.5em;
  text-align: left;
}

@media (max-width: 767px) {
  .homeAboutBody {
    padding-left: 2px;
    padding-right: 0px;
    font-size: 1.4em;
    text-align: center;
  }
  .homeAboutHeading {
    text-align: center;
  }
  .homeAboutDescription {
    padding-top: 98px;
    padding-bottom: 20px;
  }
}

.homeAboutSocial {
  text-align: center;
  padding-top: 50px;
  color: white;
}

.homeAboutSocialTextSize {
  font-size: 1.4em;
}

.homeAboutSocialLinks {
  justify-content: center;
  padding-top: 15px;
  display: inline-block;
  position: relative;
  padding-inline-start: 0;
}

.homeSocialIcons {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  background: var(--light-secondary-color-rgba);
  border-radius: 50%;
  transition: 0.5s;
}

.homeSocialIcons::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--dark-secondary-color);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.homeSocialIcons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--dark-secondary-color);
}

.homeSocialIcons:hover {
  color: var(--dark-secondary-color-hover);
  box-shadow: 0 0 5px var(--dark-secondary-color-hover);
  text-shadow: 0 0 2px var(--dark-secondary-color-hover);
}

.socialIcons {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.iconColour {
  color: var(--dark-secondary-color);
}
