body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  --secondary-color: #f0ae2e;
  --secondary-color-hover: #a37417;
  --scrollbar-color: rgba(8, 99, 135, 0.73);
  --scrollbar-color-hover: rgba(15, 143, 195, 0.73);

  /*About css variables*/
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );
  --main-color: #08fdd8;
  --tech-icon-color-rgba: rgba(15, 143, 195, 0.637);
  --tech-icon-color-box-shadow-rgba: rgba(40, 130, 133, 0.137);
  --tech-icon-color-hover-rgba: rgba(23, 154, 163, 0.883);

  /*Footer CSS variables*/
  --dark-color: #010038;

  --dark-color-rgba: rgba(1, 0, 56, 0.171);
  --light-secondary-color-rgb: rgb(250, 250, 250);

  /*Home css variables*/
  --dark-secondary-color: #1a989c;
  --dark-secondary-color-hover: #11837d;
  --light-secondary-color-rgba: rgba(255, 255, 255, 0.972);
}

/* --------- */
/* Scrollbar main*/
/* --------- */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color-hover);
  border-radius: 12px;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/*************/
/**   App  **/
/************/
.purple {
  color: var(--main-color);
}

/************
  * TAG CLOUD *
  ************/
.tag-cloud--item {
  color: var(--main-color);
  font-size: 20px;
  cursor: default;
}

.tag-cloud--item:hover {
  opacity: 1;
  z-index: 100;
}

@media screen and (max-width: 786px) {
  .tags-cloud {
    float: unset;
  }
}

/************
  * Typewriter *
  ************/
.Typewriter__wrapper {
  font-size: 2.3em;
  color: var(--main-color);
  font-weight: 380;
}

.Typewriter__cursor {
  font-size: 2.4em;
  color: var(--main-color);
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 2.2em;
    font-weight: 380;
    position: absolute;
  }
  .Typewriter__cursor {
    display: none;
  }
}

/************
  * Navbar *
  ************/
.navbar-light .navbar-nav .nav-link {
  color: rgb(242, 245, 248);
}

.navbar-light .navbar-nav .nav-item > .active  {
  color: rgb(124, 171, 218);
}
